/[Aa]sset[Mm]eta[Dd]ata/
/[Ex]ternal[Bb]uild[Pp]ath/
/[Ll]ibrary/
/[尝]ocal[Cc]ache/
/[Oo]bj/
/[Ll]ogs/
/[Mm]emoryCaptures/
/[Pp]ackage[Cc]ache/
/[Pr]oject[Ss]ettings/ProjectVersion.txt
/[Ss]teamVR_Settings/
/[Tt]emp/
/[Uu]sers/
/[Vv]ersionControlCc/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db